.panel#compareGroup.hide
  %ul.button-group
    %li
      %a.button#showCompareGroupAtGmaps{"data-reveal-id"=>"GoogleMapsDetails","data-reveal"=>true} Google Maps
    %li
      %a.button#clearCompareGroup Clear list





