.panel#compareGroup.hide
  %ul#actionsDrop.f-dropdown{"data-dropdown-content"=>true}
    %li
      %a.button#showCompareGroupAtGmaps{"data-reveal-id"=>"GoogleMapsDetails","data-reveal"=>true} Find at Google Maps
    %li
      %a.button#clearCompareGroup Clear list
  %ul#comparationDrop.f-dropdown{"data-dropdown-content"=>true}
    %li
      %a.button{"data-reveal-id"=>"GoogleMapsDetails","data-reveal"=>true} Graph 1
    %li
      %a.button{"data-reveal-id"=>"graphsDetails","data-reveal"=>true} Graph 2
  %ul.button-group
    .row
      .small-6.columns
        %li
          %a.button.dropdown.medium{"data-dropdown"=>"actionsDrop"} Actions
      .small-6.columns
        %li
          %a.button.dropdown{"data-dropdown"=>"comparationDrop"} Comparation





