.panel
  %dl
    %dt Project mission
    %dd That helps people to know much about their country
  %dl
    %dt First action
    %dd Firstly use <em>input at the top of page</em> - to enter <strong>ZipCode</strong> or part of County or City name
:javascript
  $(function() {
          var availableTags = [
              "ActionScript",
              "AppleScript",
              "Asp",
              "BASIC",
              "C",
              "C++",
              "Clojure",
              "COBOL",
              "ColdFusion",
              "Erlang",
              "Fortran",
              "Groovy",
              "Haskell",
              "Java",
              "JavaScript",
              "Lisp",
              "Perl",
              "PHP",
              "Python",
              "Ruby",
              "Scala",
              "Scheme"
          ];
          $( "#tags" ).autocomplete({
              source: availableTags
          });
      });