.panel
  %dl
    %dt Start typing data
    %dd Firstly use <em>input at the top of page</em> - to enter <strong>ZipCode</strong> or part of County or City name.
  %dl
    %dt Take something
    %dd Choose Zip at <strong>autocomplete</strong> or return at first action if nothing found.
  %dl
    %dt Overview result
    %dd Read <strong>overview block</strong>. That contains City, MSAName, City abbreviations,State and County of ZipCode.
  %dl
    %dt Google map
    %dd Look at Zip in <strong>Google map</strong>. Compare it with near or random ZipCodes.

