#errorMessageBox.hide.error-alert-box.warning{"data-alert"=>true,"display"=>"none"}
  Message text
  %a.close &times
#noticeMessageBox.hide.notice-alert-box{"data-alert"=>true,"display"=>"none"}
  Message text
  %a.close &times
#defaultMessageBox.hide.default-alert-box.info{"data-alert"=>true,"display"=>"none"}
  Message text
  %a.close &times
