.panel
  %ul.pricing-table
    %li.title ZipCode (98549)
    %li.price Maine(ME)
    %li.bullet-item County - AROOSTOOK
    %li.bullet-item
      %span.label google maps
    %li.description AUBURN, WOOLWICH TWP, LOGAN TWP, LOGAN, WOOLWICH
    %li.cta-button
      %a.button Compare



