.contain-to-grid
  %nav.top-bar{"data-fragments"=>true}
    .row
      .large-3.columns.show-for-medium-up
        %ul
          %li.name
            %h1
              %a{href:'/'} TheLastCensus.com
      .small-12.medium-12.large-6.columns
        %section.top-bar-section.has-form
          %ul
            %input#tags{type:'text',placeholder:"Zip or City",maxlength:60}
      .small-3.columns.show-for-medium-up
        %ul.right
          %li.name
            %h1
              %a Census analysis and data graphics
%br