#overviewBlock.hide
  %ul#detailsDrop.f-dropdown{"data-dropdown-content"=>true}
    %li
      %a.button{"data-reveal-id"=>"GoogleMapsDetails","data-reveal"=>true} Find at Google Map
    %li
      %a.button{"data-reveal-id"=>"graphsDetails","data-reveal"=>true} Open graphs
    %li
      %a.button{"data-reveal-id"=>"fullDetails","data-reveal"=>true} View details
  %ul#compareDrop.f-dropdown{"data-dropdown-content"=>true}
    %li
      %a.button#addToCompareGroup To compare group
    %li
      %a.button#compareRandom Compare random
    %li
      %a.button#compareNearest Compare nearest
  .reveal-modal#GoogleMapsDetails{"data-reveal"=>true}
    %h5 Look at this ZipCode at Google Maps
    #map{style:'height: 400; width: 100%'}
  .reveal-modal#graphsDetails{"data-reveal"=>true}
    %h5 Look at this ZipCode in graphs
  .reveal-modal#fullDetails{"data-reveal"=>true}
    %h5 Look at full details this ZipCode
  .panel
    %ul.pricing-table
      %li.title#overviewZipCode ZipCode (98549)
      %li.price#overviewCity City
      %li.bullet-item#overviewCounty County
      %li.bullet-item#overviewState State
      %li.description#overviewAliases AUBURN, WOOLWICH TWP, LOGAN TWP, LOGAN, WOOLWICH
      %li.bullet-item
        .button-bar
          %ul.button-group
            .row
              .small-6.columns
                %li
                  %a.button.dropdown.medium{"data-dropdown"=>"detailsDrop"} Details
              .small-6.columns
                %li
                  %a.button.dropdown{"data-dropdown"=>"compareDrop"} Compare
