#overviewBlock.hide
  .reveal-modal#GoogleMapsDetails{"data-reveal"=>true}
    %h5 Look at this ZipCode at Google Maps
    #map{style:'height: 400; width: 100%'}
  .panel
    %ul.pricing-table
      %li.title#overviewZipCode ZipCode (98549)
      %li.price#overviewCity City
      %li.bullet-item#overviewCounty County
      %li.bullet-item#overviewState State
      %li.description#overviewAliases AUBURN, WOOLWICH TWP, LOGAN TWP, LOGAN, WOOLWICH
      %li.bullet-item
        .button-bar
          %ul.button-group
            %a.button#addToCompareGroup To group
            %a.button#compareRandom To random
            %a.button#compareNearest To nears
